/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */

/* Estandarizaciones de desarrollo */

:root {
  font-family: "Montserrat Alternates", sans-serif;
  --gray: #283345;
  --lightgray: #9298a1;
  --blue: #3871ff;
  --lightblue: #99b7ff;
  --white: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Background img */

main {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: var(--gray);
}

#bg-img {
  position: absolute;
  top: 5px;
  right: 0;
  width: 100%;
  height: 10%;
  background-image: url("./assets/asset-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  z-index: 10;
}

/* Clases globales */

.padding1024 {
  padding: 25px 15px;
  max-width: 1024px;
}

/* Header */

.main-header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--gray);
  padding: 10px 15px;
}

.main-logo {
  color: var(--white);
  font-size: 1.8rem;
  text-decoration: none;
  margin-right: auto;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.main-nav.show {
  margin-left: 0;
}

.link-item img {
  display: none;
}

.nav-links {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.link-item {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--lightgray);
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: var(--lightgray);
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 0;
  margin-right: 30px;
}

.button-menu span {
  width: 28px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--white);
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-5px, 2px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

/* Main section */

#main-section {
  padding: 25px 15px;
  max-width: 1024px;
  margin: auto;
  position: relative;
  z-index: 10;
  padding-top: 70px;
}

h3 {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--white);
  width: 70%;
}

p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--lightgray);
  line-height: 2rem;
}

button {
  background-color: inherit;
  margin-top: 25px;
  border: solid 1px var(--lightgray);
  border-radius: 4px;
  padding: 7px 20px;
  font-family: inherit;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 400;
  color: var(--lightgray);
  position: relative;
  z-index: 10;
}

#main-section button img {
  height: 11px;
  width: auto;
  margin-left: 7px;
  margin-bottom: auto;
}

#main-section .main-second-btn {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}

button:hover {
  background-color: #9298a1;
  transition: 500ms ease-in;
  color: var(--white);
}

#main-section .main-second-btn:hover {
  background-color: var(--lightblue);
  transform: translateX(25px);
  transition: 500ms ease-out;
}

#main-section .main-second-btn span {
  display: inline-flex;
  align-items: center;
}

/* Services section */

h4 {
  font-size: 1.8rem;
  color: var(--white);
}

h6 {
  font-size: 1.2rem;
  margin: 13px 0;
  min-height: 30px;
}

#services-section {
  text-align: center;
  max-width: 700px;
  margin: auto;
  position: relative;
  z-index: 100;
}

#div-services {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.service-card {
  background-color: var(--white);
  padding: 35px 25px;
  max-width: 200px;
  margin: 15px auto;
  position: relative;
  z-index: 10;
}

.service-card div {
  background-color: var(--blue);
  width: fit-content;
  margin: auto;
  border-radius: 50%;
  padding: 12px;
}

.service-card img {
  width: 20px;
}

#div-services p {
  font-size: 1rem;
  font-weight: 500;
}

/* Technology section */

#techs-section {
  background-color: var(--blue);
  padding-top: 100px;
  position: relative;
  top: -80px;
  z-index: 0;
}

#techs-section div {
  margin: auto;
}

h5 {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 0;
}

#techs-section p {
  color: var(--lightblue);
  font-weight: 500;
}
#tech-img-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 200px;
}
#techs-section img {
  width: 55px;
  margin: 20px;
}

/* Clients section */
#clients-section {
  background-color: var(--white);
  position: relative;
  top: -90px;
  padding-top: 50px;
  padding-bottom: 220px;
}
#clients-section p {
  text-align: center;
  font-weight: 800;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}
#clients-section img {
  width: 70px;
}

.glide__slide {
  align-self: center;
  text-align: center;
}

/* More info section */
#info-section {
  position: relative;
  top: -260px;
}
.card-info-div {
  background-color: var(--blue);
  margin: 15px;
  padding: 25px 15px;
}

.card-info-div h5 {
  font-size: 1.8rem;
}

.card-info-div p {
  color: var(--lightblue);
}

.card-info-div button {
  color: var(--white);
  border-color: var(--lightblue);
}

.card-info-div button:hover {
  background-color: var(--lightblue);
}

.card-info-div img {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: -3px;
  margin-top: 25px;
}

.pb-0 {
  padding-bottom: 0;
}
/* Footer */
footer .main-logo {
  font-size: 1.4rem;
}

footer {
  background-color: var(--gray);
  margin-top: -200px;
  position: relative;
  padding: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: var(--lightgray);
}

#social-list {
  display: flex;
}

#social-list img:hover {
  transform: scale(1.3);
  transition: 500ms ease-out;
}

ul img {
  width: 15px;
  margin-right: 15px;
}

footer li {
  font-size: 1.1rem;
}
footer strong {
  color: var(--white);
}

#site-links-section ul {
  margin-top: 25px;
}

#site-links-section li {
  margin-top: 10px;
}

.underline-effect {
  position: relative;
  text-decoration: none;
}

.underline-effect::after {
  position: absolute;
  content: "";
  background-color: var(--lightgray);
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.3s ease all;
}

.underline-effect:hover::after {
  width: 100%;
}

footer > p {
  text-align: right;
  max-width: 1024px;
  margin: auto;
}

/* Media queries */

/* Screen width 320px */

@media (min-width: 320px) {
  /* Main section */
  #bg-img {
    height: 13%;
    top: 130px;
    right: -75px;
  }

  /* Footer */
  #site-links-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 45px;
  }
}

/* Screen width 500px */

@media (min-width: 500px) {
  /* Main section */
  #bg-img {
    top: 20px;
    right: -90px;
    height: 17%;
  }

  /* Main section */
  #main-section p {
    width: 350px;
  }

  /* More info section */
  #info-section {
    top: -235px;
  }
  .card-info-div {
    display: flex;
  }
  .card-info-div img {
    width: 40%;
    margin-bottom: 0px;
  }
  #div-services {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Screen width 650px */

@media (min-width: 650px) {
  /* Main section */
  #bg-img {
    top: -40px;
    right: -90px;
    height: 22%;
  }

  /* Techs section */

  #techs-section {
    width: 100%;

    padding-bottom: 50px;
  }

  #techs-container {
    display: flex;
  }

  #techs-section #techs-info {
    max-width: 350px;
    margin-left: 0;
  }

  /* Info section */
  #info-section {
    display: flex;
  }

  .pb-0 {
    padding-bottom: 25px;
    width: 75%;
  }

  .card-info-div img {
    margin-bottom: -25px;
  }

  #info-section {
    top: -255px;
  }

  /* Footer */
  #div-footer-sections {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  #logo-section {
    width: 25%;
  }

  #site-links-section {
    width: 55%;
    justify-content: space-around;
  }

  #site-links-section ul,
  #site-links-section li:first-child {
    margin-top: 0;
  }
}

/* Screen width 800px */

@media (min-width: 800px) {
  /* Header */

  .main-header {
    position: relative;
    z-index: 10;
    background-color: transparent;
  }

  .link-item {
    font-size: 1.2rem;
  }
  .button-menu {
    display: none;
  }

  .main-logo {
    flex-basis: 30%;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
    background-color: inherit;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: inherit;
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  .active {
    color: var(--white);
    font-weight: 600;
  }

  .link-item img {
    display: inline-block;
    height: 1.6rem;
    width: auto;
    margin-right: 3px;
  }

  .link-item::after {
    background-color: var(--white);
  }

  /* Main section */
  #main-section p {
    max-width: 350px;
  }

  #bg-img {
    width: 100%;
    height: 35%;
    top: -35px;
  }

  #main-section {
    margin-top: 100px;
  }
  /* Services section */
  #services-section {
    max-width: 1024px;
    margin-top: 100px;
    position: relative;
    z-index: 10;
  }
  #div-services {
    flex-direction: row;
    justify-content: space-between;
  }

  #services-section p {
    max-width: 390px;
    margin: auto;
  }

  .service-card {
    max-width: 260px;
  }

  .service-card p {
    padding: 0 20px;
  }

  /* Tech srction */
  #techs-section #techs-info {
    margin: auto;
    max-width: 400px;
  }

  /* Clients section */
  .glide-container {
    max-width: 1024px;
    margin: auto;
  }

  /* More info section */
  #info-section {
    max-width: 1024px;
    margin: auto;
    top: -255px;
  }

  .card-info-div {
    width: 50%;
  }

  .card-text {
    width: 50%;
  }
  .card-info-div img {
    margin: 0 0 -25px 0;
  }

  footer {
    padding: 35px;
  }
}

/* Screen width 1024px */

@media (min-width: 1024px) {
  p {
    font-size: 1.4rem;
  }

  #bg-img {
    width: 80%;
    height: 50%;
    top: -180px;
  }

  .link-item {
    font-size: 1.4rem;
  }
}
